{% extends 'base.html' %}
{% block content %}

<h1>Schedule</h1>

{% comment %} <ol>
    <h2> [ Today finish ] </h2>


    {% for schedule in schedules %}

        <a href=" {% url 'scheduler:detail_schedule' schedule.pk %} ">
            <div>
            {{ schedule.title }} | {{schedule.date}}
         </div>

        </a>
        



    {% endfor %}

</ol> {% endcomment %}

<ol>
    <h2> [ Today finish ] </h2>

    {% for today_schedule in today_schedules %}


    <div>
        <a href="/scheduler/{{today_schedule.pk}}">

        [ {{ today_schedule.title }} ] - {{ today_schedule.time }}
        </a>
    
        <br>
        <br>

    </div>

    {% endfor %}

</ol>





<ol>
    <h2> [ Memo ] </h2>


    {% for today_schedule in today_schedules %}


    <div>
        <a href="/scheduler/{{today_schedule.pk}}">

       [ {{ today_schedule.title }} ]
            <br>
            : {{ today_schedule.memo }}
            <br>
            <br>
        </a>

    </div>

    {% endfor %}

</ol>


{% endblock content %}