
<nav>
    <ul>
        <!-- 인증 여부 상관 없이 보임 -->
        <li>
            <a href="/scheduler/">Main</a>
        </li>

        <li>
            <a href="/scheduler/month/">April calender</a>
        </li>
        
        <!-- 인증(로그인)된 사용자라면 -->
        {% if request.user.is_authenticated %}
        <li>
            <a href="/scheduler/create/">New</a>
        </li>
        
        <li>
            <a href="{% url 'accounts:signout' %}">Logout</a>
        </li>


        <!-- 인증(로그인)되지 않은 사용자라면 -->
        {% else %}
        <li>
            <a href="{% url 'accounts:signin' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'accounts:signup' %}">Signup</a>
        </li>
        {% endif %}
    </ul>
</nav>
